*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Merriweather', serif;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
.title-heading{
    margin-top: 6.25rem;
}
.container-fluid{
    padding: 3% 15%;
}

#title h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}




/* NAVBAR */

.navbar-brand{
    font-family: 'Poppins', cursive;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat light',sans-serif;
}



.navbar{
    padding-bottom:2.5rem ;
    margin-bottom: -4rem;
}


/* DOWNLOAD BUTTONS */


.row button{
    margin:5% 3% 5% 0;
}


/* TITLE IMAGES */


.title-image{
    margin-top: 1.3rem;
    transform: rotate(25deg);
    -webkit-transform:rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  width: 60%;
  position: relative;
  top: 9.125rem;
}

@media only screen and (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}


/* Features Section */

#features{
    padding: 7% 15%;
    background-color:seashell;
    position: relative;
    z-index: 1;
}

.feature-box{
    padding: 5%;
}

#features i{
    color: #ee8072;
    margin-bottom: 2rem;
    cursor: pointer;
}

#features i:hover{
    color: #ff4c68;
}

#features h3{
    font-family: 'montserrat-bold',sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

#features p{
    color: #8f8f8f;
}


/* TESTIMONIAL SECTION */

#testimonials{
    padding: 7% 15%;
    background-color:#ee8072;
    color: #fff;
}

#testimonials h2{
    font-family: 'montserrat-bold',sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

#testimonials img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}




/* PRESS */

#press{
    background-color:#ee8072;
    padding-bottom: 3%;
}


#press img{
    width: 15%;
    margin: 20px 20px 50px;
}


#pricing{
    padding:100px;
    background-color: #fff;
    font-family: 'montserrat-bold',sans-serif;
}

#pricing p{
    color:#8f8f8f;
    font-family: 'Montserrat',sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
}



/* CTA SECTION */

#cta{
    background-color: #ff4c68;
    color: #fff;
    font-family: 'Montserrat-Black',sans-serif;
}

#cta .container-fluid{
    padding: 7% 15%;
}

#cta h3{
    font-size: 4rem;
    line-height: 1.5;
}

#footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 3% 15%;
    font-weight: lighter;
    font-style: italic;
    color:#8f8f8f;
}

#footer i{
    margin-right: 2.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: skyblue;
}



